/* index.html */

* {
    font-family: 'Noto Sans KR', sans-serif;
}
.landing {
    background-color: #0D6EFD;
    height: 70vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.landing h1 {
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding-bottom: 3px;
    font-weight: 700;
}

.landing p {
    margin-bottom: 2px;
}

.footer {
    background-color: #E8EEF4;
    height: 30vh;
    color: #7c8881;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* test.html */

.header {
    background-color: #0D6EFD;
    height: 10vh;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.header h1 {
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding-bottom: 3px;
    font-weight: 700;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #EEEEEE;
    padding: 50px 0;
}

.question h2 {
    font-weight: 700;
}

.question p {
    text-align: center;
    width: 80%;
}

/* result.html */

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.result img {
    max-width: 300px;
    width: 80%;
    margin-bottom: 20px;
}

.result h2 {
    font-weight: 700;
}

.result p {
    margin: 0 50px;
    margin-bottom: 20px;
}

.kakao-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100px;
}

.addthis_inline_share_toolbox_0ls2 {
    margin-bottom: 20px;
}

